@model MemoViewModel
@{
    Layout = null;
}

<form>
    <fieldset disabled>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="UserId">User id</label>
                    <input asp-for="UserId" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Title">Title</label>
                    <input asp-for="Title" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Note">Note</label>
                    <textarea asp-for="Note" class="form-control" rows="4"></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="CreatedAt">Created at</label>
                    <input asp-for="CreatedAt" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="UpdatedAt">Updated at</label>
                    <input asp-for="UpdatedAt" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Status.Name">Status</label>
                    <input asp-for="Status.Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Tags">Tags</label>
                    <ul asp-for="Tags" class="list-inline">
                        @foreach (var tag in Model.Tags)
                        {
                            <li class="badge badge-dark">@tag.Name</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </fieldset>
    <a data-dismiss="modal" class="btn btn-primary"><i class="fa fa-list"></i> Back to memos</a>
</form>
