@model List<MemoViewModel>
@{
    ViewData["Title"] = "Memos";
}
<a class="btn btn-success btn-lg" id="buttonAddMemo" asp-controller="Memo" asp-action="Create">
    <i class="fa fa-plus"></i> Add new
</a>

<table class="table table-light table-bordered table-hover table-striped" id="memoTable">
    <thead>
        <tr>
            <th class="row-id">Id</th>
            <th>User</th>
            <th>Title</th>
            <th>Note</th>
            <th>Tags</th>
            <th>Created at</th>
            <th></th>
        </tr>
    </thead>
</table>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" />

@section Scripts{

    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/bootbox/bootbox.min.js"></script>
    <script>
        var datatable;
        var role = @(User.IsInRole("Admin")? "true":"false");

        $(document).ready(function () {
            $.ajax({
                url: "/Memo/GetMemos",
                method: "get",
                success: function (response) {
                    datatable = $("#memoTable").dataTable({
                        data: response,
                        columns: [
                            { "data": "id" },
                            { "data": "userId" },
                            { "data": "title" },
                            { "data": "note" },
                            {
                                "data": "tags",
                                "render": function (data) {
                                    var text = "";
                                    $.each(data, function (i) {
                                        text += "<span class='badge badge-primary'>" + data[i].name + "</span> ";
                                    });
                                    return text;
                                }
                            },
                            { "data": "createdAt" },
                            {
                                "data": "id", "render": function (data) {
                                    if (role) {
                                        return "<div class='btn-group-vertical'><a class='btn btn-light'><i class='fa fa-search-plus'></i> Details</a>" +
                                            "<a class='btn btn-warning'><i class='fa fa-edit'></i> Edit</a>" +
                                            "<a class='btn btn-danger'><i class='fa fa-trash'></i> Delete</a><div>";
                                    }
                                    else {
                                        return "<a class='btn btn-light'><i class='fa fa-search-plus'></i> Details</a>";
                                    }
                                }
                            }
                        ]
                    })
                },
                error: function (xhr) {
                    bootbox.alert({
                        title: "Error: " + xhr.status,
                        message: "Sorry, something went wrong. Please try later."
                    });
                }
            })
        })
    </script>
}
