@inject IViewLocalizer localizer
@model RoleViewModel
@{
    Layout = null;
}
<form method="post" asp-controller="Admin" asp-action="EditRole" onsubmit="return submitForm(this)">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
            <label asp-for="Id">@localizer["Role id"]</label>
            <input asp-for="Id" class="form-control" disabled="disabled"/>
        </div>
        <div class="form-group">
            <label asp-for="Name">@localizer["Role name"]</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <partial name="../Shared/_ButtonsPartial" />
</form>

<partial name="../Shared/_ValidationScriptsPartial" />
